.HondaDes Img{
    object-fit: cover;
    width: 30%;
    height: auto;
}

.HondaDes h2{
    font-size: xx-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 70, 150);
}
#Des{
   font-size: x-large;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
#Likes{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(109, 108, 108);
}
/* #toyotaImg{
    padding-left:200px;
   padding-top:5% ;
    
}
#nissanImg{
    padding-left: 400px;
}
#hondaImg{
    padding-left:200px;
    padding-top:5% ;
} */
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body {
    background: linear-gradient(-45deg, #638863, #466675, #515a8f, #8f5050);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    height: 100vh;
    margin: 0;
}
.HondaDes a {
    color: aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120%;
    margin-left:10px ;
    /* transition: color 0.3s ease-in-out; */
    transition: all 0.3s ;

}
.HondaDes a:hover{
    /* color: rgb(92, 179, 206); */
    padding: 30px 30px; /* Increases size */
    border-radius: 50px; /* More rounded */
    background: linear-gradient(-45deg, #05b48e, #5d19db);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    height: 100vh;
    margin: 0;
} /* Changes color */
