#MainPageTitle{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: rgb(75, 146, 122);
    
}
#MainPageIntro{
    display:inline;
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    
}
#MainPageFilter input{
    display:flex;
    margin: auto;
    border-color: ;
}
.MainPageFilterBtn > button {
    
    margin-left: 900px;
  
}
.form-select{
  padding-left: 2px;
  justify-content: c
}
/* .json styling */


/* Home page logo selector styling */
.car-container {
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Wrap to next line if screen is small */
    gap: 100px; /* Space between items */
    justify-content: center; /* Center align the items */
}

.car-item {
    padding-top: 60px;
    width: 200px; /* Set fixed width for each car */
    text-align: center;
}

.car-item img {
    width: 100%;
    border-radius: 8px;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body {
    background: linear-gradient(-45deg, #275eb1, #435679, #21748d);
    background-size: 300% 300%;
    animation: gradientAnimation 10s ease infinite;
    height: 100vh;
    margin: 0;
}
